<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logoauto (1).png" />

	<title> AutoBidder </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>

			<div class="formulario-container">
				<div class="img-log"> 
                </div>

				<div class="formm">
					<form method="get" id="form" action="/login">
						<div class="">
						  <label for="email">Correo electrónico</label>
						  <input type="email" name="email" id="email" value="" class="input-email" />
						</div>
						<div class="">
							<label for="user">Nombre de usuario</label>
							<input type="text" name="user" id="user" value="" class="input-user" />
						</div>
						<div class="">
						  <label for="password">Contraseña</label>
						  <input type="password" name="password" id="password" value="" class="input-password" />
						</div>
						<div class="">
							<label for="fecha">Fecha de nacimiento</label>
							<input type="date" name="fecha" id="fecha" value="" class="input-fecha" />
						</div>
						<div class="">
							<label for="dni">Numero de documento</label>
							<input type="number" name="dni" id="dni" value="" class="input-dni" />
						</div>
						<div class="">
							<label for="foto">Foto de perfil</label>
							<input type="file" name="foto" id="foto" value="" class="input-foto" />
						</div>
		
						<button type="submit" class="button-log">ENVIAR</button>
					  </form>
				</div>

				
			</div>
		</div>
	</div>
			<!-- Show the "ultimos" products 
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>-->


	<!-- footer -->
	<%- include('./partials/footer') %>

	<!-- /footer -->
</body>

</html>